.badge-showcase {
    padding: 16px;
    margin-bottom: 50px;

    &__heading {
        margin-bottom: 30px;
        margin-top: 10px;
        letter-spacing: 0.4px;
        font-weight: 600;
        color: #4c505c;
        padding-left: 16px;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
        &.selected {
            justify-content: center;

            .each-medal {
                width: auto;
            }
        }
    }

    .each-medal {
        width: 50%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        position: relative;

        .gray-scale {
            position: absolute;
            filter: grayscale(100%);
            z-index: 1;
            overflow: hidden;
            margin: 0;
            text-align: center;
            width: 100%;
        }

        p {
            margin: 0;
        }

        .medal-name {
            font-weight: 500;
            font-size: 18px;
        }

        .medal-details {
            margin-top: 10px;
        }

        .medal-value {
            margin-top: 5px;
        }

        img {
            height: 80px;
            transition: all 0.3s ease;
            // border-radius: 50%;
            position: relative;
        }

        p {
            font-weight: 100;
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

